# --- Environment Variables untuk Vercel ---
# Copy file ini menjadi .env di lokal (jika perlu)
# Dan masukkan key-value ini di Dashboard Vercel > Settings > Environment Variables

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=db_inventori_baru
